name: Update FanCode Live Matches

on:
  schedule:
    - cron: "*/30 * * * *"   # প্রতি ৩০ মিনিটে রান
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install requests

      - name: Run Python script
        run: |
          python script.py

      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add .
          git commit -m "Auto update live matches & playlist" || echo "No changes"
          git push
